
/*   ROUND CORNERS FOR NESTED DIVs
---------------------------------------- */

/* Nested DIV corners */

.box {position: relative;max-width:1090px;margin:0 auto;margin-top:25px;margin-bottom:35px;}

.box .content {
  position: relative;
  z-index: 2;
  padding:2px 18px;   /* need minimum height-padding sonst GAP */
  margin:0 24px;
  background: url(center.png) repeat;
  }

.box .top, .box .bottom {
  height: 24px;
  margin: 0 24px;
  position: relative;
  }

.box .top .left, .box .top .right, .box .bottom .left, .box .bottom .right {
  position: absolute;
  z-index: 1;
  height: 24px;
  width: 24px;
  }

.box .top .left, .box .bottom .left {left: -24px;}
.box .top .right, .box .bottom .right {right: -24px;}
.box .top {background: url(tm.png) left top repeat-x;}
.box .top .left {background: url(tl.png) left top no-repeat;}
.box .top .right {background: url(tr.png) right top no-repeat;}
.box .bottom {background: url(bm.png) left bottom repeat-x; height: 24px;}
.box .bottom .left {background: url(bl.png) left top no-repeat;}
.box .bottom .right {background: url(br.png) right bottom no-repeat;}
.box .left {background: url(lm.png) left top repeat-y;}
.box .right {background: url(rm.png) right top  repeat-y;}
